<div class="demo">
    <h2>Progress bar demo</h2>
    <div>
        <h3>Progress bar types</h3>
        <div class="flex-container">
            <div class="container">
                <h4>Classic: </h4>
                <ngx-simple-progress-bar [percent]="percent1"
                                         [progressBarType]="progressBarTypes[0]"></ngx-simple-progress-bar>
                <p>{{ percent1 }}%</p>
            </div>
            <div class="container">
                <h4>Rounded: </h4>
                <ngx-simple-progress-bar [percent]="percent1"
                                         [progressBarType]="progressBarTypes[1]"></ngx-simple-progress-bar>
                <p>{{ percent1 }}%</p>
            </div>
            <div class="container">
                <h4>Square: </h4>
                <ngx-simple-progress-bar [percent]="percent1"
                                         [progressBarType]="progressBarTypes[2]"></ngx-simple-progress-bar>
                <p>{{ percent1 }}%</p>
            </div>
        </div>

        <h3>Feel free to play around with customization</h3>
        <div class="flex-container">
            <div class="flex-inner">
                <div class="container">
                    <ngx-simple-progress-bar [percent]="percent2"
                                             [color]="color"
                                             [backgroundColor]="backgroundColor"
                                             [height]="height"
                                             [progressBarType]="progressBarType"
                                             [isStatic]="false"
                                             (percentChange)="onPercentChange($event)">
                    </ngx-simple-progress-bar>
                    <p>{{ percent2 }}%</p>
                </div>
                <div class="btn-container">
                    <button (click)="start()" class="progressBtn">Start progress</button>
                    <button (click)="stop()" class="progressBtn">Stop progress</button>
                    <button (click)="reset()" class="progressBtn">Reset progress</button>
                    <button (click)="complete()" class="progressBtn">Complete progress</button>
                </div>
            </div>

            <div class="flex-inner">
                <div class="input-container">
                    <label for="color">Change color: </label>
                    <input type="text" id="color" placeholder="'green' or '#008000' or 'rgb(0, 128, 0)'" #colorInput>
                    <button (click)="changeColor(colorInput.value)" class="inputBtn">Change color</button>
                </div>
                <div class="input-container">
                    <label for="bg-color">Change background color: </label>
                    <input type="text" id="bg-color" placeholder="'grey' or '#808080' or 'rgb(128, 128, 128)'"
                           #bgColorInput>
                    <button (click)="changeBackgroundColor(bgColorInput.value)" class="inputBtn">Change background
                        color
                    </button>
                </div>
                <div class="input-container">
                    <label for="height">Change height: </label>
                    <input type="number" id="height" #heightInput>
                    <button (click)="changeHeight(heightInput.value)" class="inputBtn">Change height</button>
                </div>
                <div class="input-container">
                    <label for="type">Change type: </label>
                    <select id="type" #barType (change)="changeType(barType.value)">
                        @for (type of progressBarTypes; track type) {
                            <option [value]="type"
                                    [selected]="type === progressBarType">
                                {{ type }}
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

